.header {
    position: sticky;
    top: 0;
    z-index: 2;
    max-height: 64px;
    background-color: var(--color-white);
    // .header__container

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1060px;
        max-height: 64px;
        margin: 0 auto;
        padding: 0 15px;
    }

    // .header__utility

    &__utility {
        display: flex;
        align-items: center;
    }

    // .header__search

    &__search {
        padding: 22px 12px;
        cursor: pointer;
    }

    // .header__favorite

    &__favorite {
        position: relative;
        margin-right: 20px;
        padding: 22px 12px;
        cursor: pointer;
    }
    &__favorite::after{
        content: var(--favorite-notification-number);
        position: absolute;
        top: 11px;
        right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        padding: 5px;
        border-radius: 10px;
        background-color: var(--color-green);
        color: var(--color-white);
        font-size: 10px;
    }
    // .header__button

    &__button {
        padding: 8px 34px;
        border-radius: 4px;
        background-color: var(--color-brown);
        color: var(--color-white);
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s;
    }
    &__button:hover{
        opacity: 0.9;
    }
    &__button:active{
        scale: 1.03;
    }
}

.logo{
    position: absolute;
    left: 0;
    display: inline-block;
    
    width: 138px;
    height: 70px;
    background-image: url('./../img/logo.svg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
}

#burger-menu{
	position: relative;
	z-index: 2;
    display: none;
	overflow: visible;
	width: 27px;
	height: 27px;
    cursor: pointer;


}

	// THE LINES
span,
span:before,
span:after {
		position: absolute;
		display: block;
		height: 2px;
		background: #000000;
		opacity: 1;
		transition: 0.3s ease-in-out;
	}

span:before,
span:after {
		content: '';
	}

    	// TOP
span:before {
		top: -10px;
		left: 0px;
		width: 27px;
	}

	// MIDDLE
span {
		top: 13px;
		right: 0px;
		width: 27px;
	}

	// BOTTOM
span:after {
		top: 10px;
		left: 0px;
		width: 27px;
	}

// ROTATION ON CLICK
.close {
		// TOP
		span:before {
			top: 0px;
			width: 27px;
			transform: rotate(90deg);
		}

		// MIDDLE
		span {
			top: 13px;
			width: 27px;
			transform: rotate(-45deg);
		}

		// BOTTOM
		span:after {
			top: 0px;
			left: 0;
			width: 0;
			opacity: 0;
			transform: rotate(90deg);
		}
	}
    #nav-mobile {
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;
    
        &.overlay {
            width: 100vw;
            visibility: visible;
            opacity: 1;
            padding-top: 100px;
            background: #E6F0F6;
        }
    
        .nav-mobile__list {
            padding: 0;
        }
    
        .nav-mobile__item {
            list-style: none;
        }
    
        .nav-mobile__link {
            color: #000000;
            display: block;
            font-size: 32px;
            margin-bottom: 30px;
            text-decoration: none;
        }
    }

@media only screen and (max-width: 768px) {
    .header__container{
        justify-content: end;
        column-gap: 50px;
    }
    #burger-menu{
        display: block;
    }
}